*{
    padding: 0%;
    margin: 0%;
}
body{

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;
font-family: 'Anton', sans-serif;
overflow: hidden;
}

#game{
    position: relative;
    width: 800px;
    height: 400px;
    border: 1px solid black;
    background-image: url(./backgrounds/back1.png);
    background-size: cover;
    overflow: hidden;
   
}
.play{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    padding: 3% 7%;
    font-size: 2rem;
    color: white;
}
.lose{

position: absolute;
height:60%;
width:50%;
background-color: black;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
display: none;
flex-direction: column;
align-items: center;

}
.lose h1{

color: red;
font-size: 3rem;
margin-top: 10%;
}
#tentarDeNovo{
    position: absolute;
    top: 60%;
    padding: 15px 25px;
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: red;
    font-size: 0.8rem;
}
/* #tentarDeNovo:hover{

    padding: 17px 27px;
    font-size: 1rem;
} */

#character{
    display: none;
    width: 120px;
    height: 90px;
    /* background-color: red; */
    position: relative;
    top:320px;
    /* background-image: url(./png/run1.png); */
    background-size: cover;
    background-position: center;
}
.fullScreen{
position: absolute;
left: 775px;
top: 5px;
}
.fullScreen:hover{
    width: 20px;
}
.minimize{
    position: absolute;
    left: 775px;
    top: 5px;
    display: none;
}


.sound{
    width: 15px;
    position: absolute;
    left: 750px;
    top: 5px;
    display: flex;
}
.soundOff{
    width: 15px;
    position: absolute;
    left: 750px;
    top: 5px;
    display: none;
}


.animate{
    animation: jump 500ms;
}

#block{

    width: 70px;
    height: 60px;
    /* background-color: blue; */
    background-image: url(./small/a0.png);
    background-size: cover;
    position: relative;
    top: 65%;
    left: 780px;
    display: none;
}
/* .blockAnimate{
    animation: block 1s infinite linear;
} */
.blockAnimateBig{
    animation: block2 1s infinite linear;
}
/* 
@keyframes block{
    0%{left:770px}
    100%{left:-40px}
} */
@keyframes block2 {
    0% {left: 97%}
    100% {left: -40px}
}
/* @keyframes blockFull{
    0%{left:100%};
    100%{left:-40px}
} */
@keyframes jump{

    0%{top: 80%}
    30%{top: 65%}
    70%{top: 65%;}
    100%{top: 80%}

}