*{
    padding: 0%;
    margin: 0%;
}
body{

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

#game{

    width: 800px;
    height: 400px;
    border: 1px solid black;
    background-image: url(./backgrounds/checkthismode_surf.png);
    background-size: cover;
    overflow: hidden;
   
}

#character{

    width: 120px;
    height: 90px;
    /* background-color: red; */
    position: relative;
    top:320px;
    background-image: url(./png/run1.png);
    background-size: cover;
    background-position: center;
   

}
.animate{
    animation: jump 500ms;
}

#block{

    width: 70px;
    height: 60px;
    /* background-color: blue; */
    background-image: url(./small/a10000.png);
    background-size: cover;
    position: relative;
    top: 260px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block{

    0%{left:770px}
    100%{left:-40px}
}
@keyframes jump{

    0%{top: 320px}
    30%{top: 260px}
    70%{top: 260px;}
    100%{top: 320px}

}